*{
margin:0; 
padding:0px;
}
#div1{
position:relative;
z-index:100;
top:20px;
weight:1300px;
height:35px;
}
.head{
position:absolute;
width:300px;
top:100px;
left: 50%;
margin-left:-150px;
font-size:50px;
font-family:幼圆;
color:blue;
}
.table{
position:relative;
top:40px;
font-size:15px;
font-family:幼圆;
border-collapse: collapse
}
.table td, .table th {
	background-color: #fff
}
.table-bordered td, .table-bordered th {
	border: 1px solid #ddd
}

#div1 ul{
width:900px; 
height:35px; 
margin:0 auto;
}
#div1 li{
display:inline;
font-size:20px;
font-family:幼圆;
color:#546E7A;
}
#div1 ul li{
width:150px; 
height:35px;
text-align:center;
background-color: #f0f4f6;
border: 0px solid #a1a4a8;
border-radius: 4px;
float:left; //设置浮动
}
#div1 ul li ul{
width:150px; 
height:35px; 
display:none;//将二级菜单初始隐藏
}
#div1 ul li:hover ul{
display:block;//使用hover，当鼠标移动到对应的一级菜单上是显示二级菜单
}
.foot{
position:absolute;
width:400px;
bottom:100px;
left: 50%;
margin-left:-200px;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px
}

.pagination>li {
	display: inline
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	z-index: 3;
	color: #23527c;
	background-color: #eee;
	border-color: #ddd
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
	.pagination>.disabled>span, .pagination>.disabled>span:focus,
	.pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}

.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px
}

.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}