<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodsServlet</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoodsServlet</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyGoodsServlet</display-name>
    <servlet-name>ModifyGoodsServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.ModifyGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyGoodsServlet</servlet-name>
    <url-pattern>/ModifyGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGoodsServlet</display-name>
    <servlet-name>SelectGoodsServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SelectGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGoodsServlet</servlet-name>
    <url-pattern>/SelectGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderServlet</display-name>
    <servlet-name>SelectOrderServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SelectOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderServlet</servlet-name>
    <url-pattern>/SelectOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountServlet</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStockServlet</display-name>
    <servlet-name>SelectStockServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SelectStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStockServlet</servlet-name>
    <url-pattern>/SelectStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAccountServlet</display-name>
    <servlet-name>SelectAccountServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SelectAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAccountServlet</servlet-name>
    <url-pattern>/SelectAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectNoticeServlet</display-name>
    <servlet-name>SelectNoticeServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SelectNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectNoticeServlet</servlet-name>
    <url-pattern>/SelectNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/SelectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyOrderServlet</display-name>
    <servlet-name>ModifyOrderServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.ModifyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOrderServlet</servlet-name>
    <url-pattern>/ModifyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStockServlet</display-name>
    <servlet-name>DeleteStockServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.DeleteStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStockServlet</servlet-name>
    <url-pattern>/DeleteStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStockServlet</display-name>
    <servlet-name>AddStockServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.AddStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStockServlet</servlet-name>
    <url-pattern>/AddStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyStockServlet</display-name>
    <servlet-name>ModifyStockServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.ModifyStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyStockServlet</servlet-name>
    <url-pattern>/ModifyStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAccountServlet</display-name>
    <servlet-name>ModifyAccountServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.ModifyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAccountServlet</servlet-name>
    <url-pattern>/ModifyAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNoticeServlet</display-name>
    <servlet-name>AddNoticeServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.AddNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoticeServlet</servlet-name>
    <url-pattern>/AddNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNoticeServlet</display-name>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.DeleteNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <url-pattern>/DeleteNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyNoticeServlet</display-name>
    <servlet-name>ModifyNoticeServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.ModifyNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyNoticeServlet</servlet-name>
    <url-pattern>/ModifyNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>com.csust.zx.servlet.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/ModifyUserServlet</url-pattern>
  </servlet-mapping>
</web-app>